.container {
    width: auto;
    max-width: 900px;
    padding: 0 15px;
}
.resultrow {
    margin-top: 36px;
}
.resultrow p:first-letter{
    text-transform: capitalize
}
.resultrow .jumbotron {
    padding: 25px
}
.resultrow .jumbotron h3 {
    margin-top: 0 !important;
}
.resultrow h3:first-letter{
    text-transform: capitalize
}
.good {
    background-color: #5cb85c
}
.bad {
    background-color: #d9534f
}
.page-header {
    background-color: #5058FF;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}
.page-header .container {
    padding: 0;
}
.page-header h1{
    color: white;
}